@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Merriweather:ital,wght@0,700;1,400&display=swap');

body {
  font-family: 'Kiwi Maru', serif;
  margin: 0 auto;
  background-color: #f7f5e7;
}
