.Synonyms {
  background-color: rgb(236, 236, 236);
  text-align: center;
  font-size: 1em;
  height: 270px;
  overflow: auto;
  color: rgb(88, 88, 88);
  border-radius: 6px;
  width: 300px;
  margin: 30px;
  padding: 15px;
  display: inline-block;
  right: 50px;
}

.listOfSynonyms {
  padding-top: 10px;
}
